$header-height: 60px;
$body-height: calc(100% - #{$header-height});

.header {
    height: $header-height;
    background-color: #62cf63;
    justify-content: space-between;
    display: flex;

    .logo {
        display: flex;
        flex-direction: row;
        .home {
            color: azure;
            margin: 0 0 0 10px;
            padding: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 35px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        .circle {           
            display: flex;
            align-items: center;
            padding-top: 5px;
            * {
                border-radius: 50%;
                margin-left: 5px;
                width: 22px;
                height: 22px;
            }
        }
        
        .circle1 {
            background-color: rgb(231, 28, 28);
        }
        
        .circle2 {
            background-color: rgb(0, 255, 153);
        }
        
        .circle3 {
            background-color: yellow;
        }    
    }

    .login {
        font-size: x-large;
        display: flex;
        align-items: center;
        padding-right: 15px;
    }
}

.page {
    height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: row;
    height: $body-height;
    .navigation {
        ul {
            height: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: #323437 ;
            display: flex;
            flex-direction: column;
            li {
                display: inline-block;
                color: white;
                text-transform: uppercase;
                border-bottom: 1px solid #908989;
                padding: 20px 10px;
                width: 200px;
                &:hover{
                    cursor: pointer;
                    background-color: #97a0dc;
                }
                i {
                    float: left;
                    font-size: 20px;
                }

                .aboutus {
                    display: flex;
                    
                }

                .help {

                }
            }
            
            li.active {
                background-color: #bdc9e3;
            }
        }
    }
    .body-content {
        // flex: 70%;
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }
}

