$header-height: 30px;
$footer-height: 50px;
.header {
    height: $header-height;
    width: 100vw;
    background-color: #6a9ca3;
}

.page {
    height: 100vh;
}
.body-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - #{$footer-height +$header-height});
    .navigation {
        ul {
            height: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: black;
            li {
                padding: 10px;
                color: white;
                border-bottom: 1px solid #a2a2a2;
                &:hover{
                    cursor: pointer;
                    background-color: #a2a2a2;
                }
            }
            
            li.active {
                background-color: #a2a2a2;
            }
        }
    }
    .body-content {
        flex: 70%;
    }
}

.footer {
    height: $footer-height;
    width: 100vw;
    background-color: #000;
}