.body-content {

    .paragraph-container {
        width: 70%;
        height: 500px;
        background-color: #000;
        margin: 10px auto;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 20px;
        p {
            color: white;
            .finished {
                color: #a19b9b;
            }
        }

    }
    
    .typing {
        text-align: center;
        input {
            width: 70%;
            background-color: #ccc;
            margin: 0 auto;
            border-radius: 10px;
            color: black;
            outline: none;
            border: none;
            padding: 10px 20px;
        }
    }
}
