/* ScrollBar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #256a7f;
    background: rgba(10, 10, 230, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0547cc;
  }