Table {
    font-family: monospace;
    align-items: center;
    
    thead {
        font-size: 15px;
        color: white;
        background-color: #333;
    }
    tbody {
        font-size: 15px;
        background-color: beige;
    }
}