@import url(https://fonts.googleapis.com/css?family=Roboto);

$md-chip-height: 35px;
$md-chip-color: #e0e0e0;
$themecolor: #278dc9;

.md-chip {
  display: inline-block;
  background: $md-chip-color;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  &.md-chip-hover {
    :not(.active):hover {
        background: #ccc;
    }
  }
}

.md-chip-clickable {
    cursor: pointer;
}

.md-chip {
  height: $md-chip-height;
  line-height: $md-chip-height;
  margin: 0 5px 0 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
    -webkit-transition: all 500ms ease;
    transition: all 300ms ease;
    background-color: $themecolor; color: white;
}

*:before, *:after {
  box-sizing: border-box;
}

.specify-test{
  background-color: azure;
  border-radius: 20px;
  margin: 100px auto;
  padding: 3em;
  max-width: 60%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  h1 {
    font-family: monospace;
    font-size: 50px;
    color: black;
    margin: 0 0 20px;
  }
  .Language {
    margin-top: 20px;
  }
  label {
    font-size: 15px;
  }
  .submit-button, .cancel-button {
        margin-top: 50px;
        border-radius: 20px;
        border: none;
        width: 100px;
        height: 40px;
        &:hover {
            background-color: #278dc9;
            color: white;
        }
    }
}